<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Maranatha Virtual</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css " rel="stylesheet " integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl " crossorigin="anonymous ">

</head>

<body>
    <img src="images/BodyImage.jpg" alt="">
    <!-- Navbar Section Begin -->
    <nav class="navbar fixed-top navbar-dark bg-dark shadow">
        <div class="container-fluid">
            <div class="navbar-toggler">
                <span class="navbar-toggler-icon"></span>
            </div>
            <div class="container">
                <h1 class="text-white text-center">
                    <span><img src="images/logo.png" alt=""></span> U.E.C.A MARANATHA </h1>
            </div>
        </div>
    </nav>
    <!-- navbar Section End -->


</html>